
<div class="button-row">
    <a mat-raised-button color="primary" [routerLink]="['/users']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>{{details.ID}}</h2></mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>ID:</dt>
        <dd>{{details.ID}}</dd>
        <dt>NAME:</dt>
        <dd>{{details.Name}}</dd>
         <dt>MOBILE NUMBER:</dt>
        <dd>{{details.MobileNumber}}</dd>
        <dt>ADDRESS:</dt>
        <dd>{{details.address}}</dd>
        <dt>Update Date:</dt>
        <dd>{{details.updated_date | date}}</dd>
      </dl>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" [routerLink]="['/useredit', details._id]"><mat-icon>edit</mat-icon></a>
      <a mat-raised-button color="warn" (click)="deletedetail(details._id)"><mat-icon>delete</mat-icon></a>
    </mat-card-actions>
  </mat-card>
  